
<h1><%= Category.find(@category_id).name %> Quiz</h1>
<form action = "/quizzes/answers" method="POST">

    <%= render partial: "quizQuestions" , :locals => {:@ques1 => @questions1 , :@ques2 => @questions2 } %>

    <input type = "hidden" name="category" value = "<%= @category_id %>" >
    <h2>
        <input class = "btn btn-primary"type="submit" value="Submit and View Answers">
    </h2>
</form>


